[Desktop Entry]
Type=Application
Name=remote-hid
Comment=Wireless trackpad + keyboard client
Exec=python3 __CLIENT_PATH__
Icon=remote-hid
Terminal=false
Categories=Utility;
